.animationFadeIn1 {
  animation-timing-function: ease-in;
  animation-delay: 0.2s;
}
.animationFadeIn2 {
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
}
.animationFadeIn3 {
  animation-timing-function: ease-in;
  animation-delay: 0.4s;
}
.animationFadeIn4 {
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
}
@keyframes translateY--animation {
  0% {
    transform: translateY(-0.3333333333rem);
  }
}
