@import "../animations";
// seccion nosotros
.section__usWe {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3em;
  margin: 4em 3em 0 3em;
  div {
    p {
      padding-top: 1em;
    }
    h2 {
      margin-top: 1em;
      font-family: "Quicksand";
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }
    h3 {
      font-family: "Quicksand";
      font-size: 1.1rem;
      margin-top: 2em;
      color: #fff;
    }
  }
}
.section__team {
  margin: 6em 3em 6em 3em;
  background-color: rgba(248, 249, 250, 0.7);
  padding: 2em;
  border-radius: 1.5em;
  .team__employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3em;
    align-content: space-around;
    .employees__item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5em;
      background: rgba(255, 255, 255, 0.2);
      margin-bottom: 3.5em;
      margin-right: 0.8em;
      height: 14em;
      width: auto;
      box-shadow: 0 0.15rem 1.75rem 0 #adb5bd30;
      animation: translateY--animation 2s;
      &:hover {
        box-shadow: 0 0.15rem 1.75rem 0 #adb5bd;
        background: rgba(255, 255, 255, 0.6);
        transition: background 1s;
        transform: translateY(-0.3333333333rem);
      }
    }
  }
  .item__img {
    border-radius: 50%;
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
    margin-left: 1.5em;
  }
  .employees__info {
    font-family: "Roboto";
    font-size: 1rem;
    line-height: 2em;
    padding: 1.5em;
    .info__socialEmployee {
      display: flex;
      li {
        a {
          img {
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
    h3 {
      font-family: "Quicksand";
      font-size: 1.5rem;
    }
  }
}
// media queries

@media only screen and (max-width: 768px) {
  .section__usWe {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 4em 3em 0 3em;
    text-align: center;
    div {
      h3 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    img {
      width: 100%;
      height: auto;
      margin-bottom: 2em;
    }
  }
  .section__team {
    border-radius: 0;
    margin: 0;
    padding: 0;
    h2 {
      padding: 1em 1em 0 1em;
      display: block;
    }
    .team__employees {
      display: flex;
      justify-content: center;
      .employees__item {
        margin-right: 0;
        width: 96%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .section__usWe {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 4em 3em 0 3em;
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  .section__team {
    .team__employees {
      display: flex;
      justify-content: center;
      .employees__item {
        width: 55%;
      }
    }
  }
}
